.button{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 24px;
    background-color: #646FF0;
    color:#F9F9FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}